
  {% render 'gp-head', isThemeSection: true %}
  
  <style>
    .gps-497425108726449288 .container{width:100%}.gps-497425108726449288 .relative{position:relative}.gps-497425108726449288 .mx-auto{margin-left:auto;margin-right:auto}.gps-497425108726449288 .mb-0{margin-bottom:0}.gps-497425108726449288 .flex{display:flex}.gps-497425108726449288 .grid{display:grid}.gps-497425108726449288 .w-full{width:100%}.gps-497425108726449288 .max-w-full{max-width:100%}.gps-497425108726449288 .flex-col{flex-direction:column}.gps-497425108726449288 .gap-y-0{row-gap:0}.gps-497425108726449288 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-497425108726449288 .duration-200{transition-duration:.2s}.gps-497425108726449288 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-497425108726449288 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      pageContext id="gxvBAOaZGN"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxvBAOaZGN mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g7Y7O8Q7Vb relative flex flex-col"
    >
      <div style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="gkC7r7zRIu ">
      
    <div class='flex'>
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-image-comparison.js" defer="defer"></script>
  <gp-image-comparison
    gp-data='{"aspectRatio":{"desktop":"16/9"},"defaultRatio":"900/600","handle":null,"handleSize":40,"hover":false,"leftImage":{"src":"https://ucarecdn.com/f22eb586-02bc-4c17-910f-6435af22301b/-/format/auto/","width":900,"height":600},"leftImageCss":{},"rightImage":{"src":"https://ucarecdn.com/45dae4ae-3e07-40d9-a22c-4032c1c817d6/-/format/auto/","width":900,"height":600},"rightImageCss":{},"sliderLineColor":"#ffffff","sliderLineWidth":2,"sliderPositionPercentage":0.5,"componentUid":"gkC7r7zRIu","vertical":false}'
    class="w-full flex "
    style="--jc:start;--jc-tablet:start;--jc-mobile:start;min-width:200px"
  >
  <div id="img-comparison-wrapper-gkC7r7zRIu" style="--w:100%;--w-tablet:100%;--w-mobile:100%">
    <div
      style="box-sizing:border-box;position:relative;overflow:hidden;height:auto;display:block;--radius:var(--g-radius-none)"
      id="img-comparison-container-gkC7r7zRIu"
      data-testid="container"
    >
      <img
        data-testid="temp-image"
        alt=""
        title=""
        width="900"
        height="600"
        style="position:static;opacity:0"
      />
      <img
        data-testid="right-image"
        alt=""
        title=""
        id="right-image-gkC7r7zRIu"
        src="https://ucarecdn.com/45dae4ae-3e07-40d9-a22c-4032c1c817d6/-/format/auto/"
        style="display:block;height:100%;position:absolute;width:100%;top:0;--objf:cover"
      />
      <img
        data-testid="left-image"
        alt=""
        title=""
        id="left-image-gkC7r7zRIu"
        src="https://ucarecdn.com/f22eb586-02bc-4c17-910f-6435af22301b/-/format/auto/"
        style="display:block;height:100%;position:absolute;width:100%;top:0;--objf:cover"
      />
      <div id="image-comparison-slider-gkC7r7zRIu" style="z-index:2;align-items:center;cursor:ew-resize;display:flex;flex-direction:column;height:100%;justify-content:center;position:absolute;width:40px">
        <div style="display:block;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);flex:0 1 auto;height:100%;width:2px"></div>
        <div style="align-items:center;border:2px solid #ffffff;border-radius:100%;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);box-sizing:border-box;display:flex;flex:1 0 auto;height:40px;justify-content:center;width:40px;transform:none">
          <svg style="margin-right:2px;filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px)" width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 6L6 0V12L0 6Z" fill="white"/>
          </svg>
          <svg style="margin-left:2px;filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px)" width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 6L0 12V0L6 6Z" fill="white"/>
          </svg>
        </div>
        <div style="display:block;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);flex:0 1 auto;height:100%;width:2px"></div>
      </div>
      
      
    </div></div>
  </gp-image-comparison>
  
    </div>
  
      </div>
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "presets": [
      {
        "name": "Section - Jan 23 21:54:25"
      }
    ],
    
    "name": "Section - Jan 23 21:54:25",
    "tag": "section",
    "class": "gps-497425108726449288 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/johnnychentest/apps/bold/app/shopify/edit?pageType=THEME_SECTION&editorId=497425108726449288)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
