
  
  
  <style>
    .gps-497425733728076681 .-translate-x-1\/2,.gps-497425733728076681 .-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-497425733728076681 .visible{visibility:visible}.gps-497425733728076681 .invisible{visibility:hidden}.gps-497425733728076681 .absolute{position:absolute}.gps-497425733728076681 .relative{position:relative}.gps-497425733728076681 .left-1\/2{left:50%}.gps-497425733728076681 .top-1\/2{top:50%}.gps-497425733728076681 .mx-auto{margin-left:auto;margin-right:auto}.gps-497425733728076681 .mb-0{margin-bottom:0}.gps-497425733728076681 .flex{display:flex}.gps-497425733728076681 .grid{display:grid}.gps-497425733728076681 .h-full{height:100%}.gps-497425733728076681 .w-\[68px\]{width:68px}.gps-497425733728076681 .w-full{width:100%}.gps-497425733728076681 .\!max-w-none{max-width:none!important}.gps-497425733728076681 .max-w-full{max-width:100%}.gps-497425733728076681 .-translate-x-1\/2{--tw-translate-x:-50%}.gps-497425733728076681 .-translate-x-1\/2,.gps-497425733728076681 .-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-497425733728076681 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-497425733728076681 .flex-col{flex-direction:column}.gps-497425733728076681 .gap-y-0{row-gap:0}.gps-497425733728076681 .bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-497425733728076681 .bg-cover{background-size:cover}.gps-497425733728076681 .bg-center{background-position:50%}.gps-497425733728076681 .opacity-100{opacity:1}.gps-497425733728076681 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-497425733728076681 .duration-200{transition-duration:.2s}.gps-497425733728076681 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-497425733728076681 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-497425733728076681 .\[\&_\>_article\]\:aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1023px){.gps-497425733728076681 .tablet\:\[\&_\>_article\]\:aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-497425733728076681 .mobile\:\[\&_\>_article\]\:aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g2NS8hPMkW"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2NS8hPMkW mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g1vOMlZdLv relative flex flex-col"
    >
      
    <div
      
      class="!max-w-none bg-black [&_>_article]:aspect-[var(--aspect)] tablet:[&_>_article]:aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gL-Bz5KAlo"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--aspect:auto;--aspect-mobile:3/4"
    >
      
    <gp-lite-youtube-embed gp-data='{"lazy":true,"style":{"--aspect":"auto","--aspect-mobile":"3/4"},"videoTitle":"Video","iframeSrc":"https://www.youtube-nocookie.com/embed/ktsFdCND3wM?autoplay=1&state=1&mute=1&&controls=1"}'>
      <link rel="preload" href="{{ '432750572815254551-e838f699-a663-47ee-b078-557cc3aea828.png' | asset_url }}" as="image" />
      <link rel="preconnect" href="https://www.youtube-nocookie.com" />
      <link rel="preconnect" href="https://www.google.com" />
      
      <article
        aria-hidden
        class="relative bg-cover bg-center gp-lite-youtube-embed-article"
        data-title="Video"
        style="background-image:url({{ '432750572815254551-e838f699-a663-47ee-b078-557cc3aea828.png' | asset_url }});--aspect:auto;--aspect-mobile:3/4"
      >
        <img src="{{ '432750572815254551-e838f699-a663-47ee-b078-557cc3aea828.png' | asset_url }}" alt="Poster" class="invisible w-full h-full" />
        <button
          type="button"
          class="absolute top-1/2 left-1/2 w-[68px] -translate-x-1/2 -translate-y-1/2 gp-lite-youtube-embed-button visible opacity-100"
          aria-label="Play"
        >
          <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%">
            <path
              d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
              fill="#f00"
            ></path>
            <path d="M 45,24 27,14 27,34" fill="#fff"></path>
          </svg>
        </button>
        
      </article>
    </gp-lite-youtube-embed>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-lite-youtube-embed.js" defer="defer"></script>
  
    </div>
  
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-497425733728076681 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/johnnychentest/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=497425727101076616&sectionId=497425733728076681)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
