
  
  
      <style>
        @font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRSW3w.woff) format('woff');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwARZtRSW3w.woff) format('woff');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v31/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1ny_CmBoWg1.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v31/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1ny_CmBoWg1fDAlp7lk.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-497425734785041544 .-translate-x-full,.gps-497425734785041544 .-translate-y-1\/2,.gps-497425734785041544 .mobile\:-translate-y-1\/2,.gps-497425734785041544 .mobile\:rotate-0,.gps-497425734785041544 .mobile\:rotate-180,.gps-497425734785041544 .mobile\:translate-x-0,.gps-497425734785041544 .mobile\:translate-y-1\/2,.gps-497425734785041544 .rotate-0,.gps-497425734785041544 .rotate-180,.gps-497425734785041544 .tablet\:-translate-y-1\/2,.gps-497425734785041544 .tablet\:rotate-0,.gps-497425734785041544 .tablet\:rotate-180,.gps-497425734785041544 .tablet\:translate-x-0,.gps-497425734785041544 .tablet\:translate-y-1\/2,.gps-497425734785041544 .translate-x-full,.gps-497425734785041544 .translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-497425734785041544 .shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-497425734785041544 .btn-disabled{cursor:default}.gps-497425734785041544 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-497425734785041544 .pointer-events-none{pointer-events:none}.gps-497425734785041544 .invisible{visibility:hidden}.gps-497425734785041544 .static{position:static}.gps-497425734785041544 .absolute{position:absolute}.gps-497425734785041544 .relative{position:relative}.gps-497425734785041544 .inset-0{inset:0}.gps-497425734785041544 .bottom-0{bottom:0}.gps-497425734785041544 .bottom-1\/2{bottom:50%}.gps-497425734785041544 .left-0{left:0}.gps-497425734785041544 .left-1{left:4px}.gps-497425734785041544 .left-4{left:16px}.gps-497425734785041544 .right-0{right:0}.gps-497425734785041544 .right-1{right:4px}.gps-497425734785041544 .right-4{right:16px}.gps-497425734785041544 .top-0{top:0}.gps-497425734785041544 .top-1\/2{top:50%}.gps-497425734785041544 .z-1{z-index:1}.gps-497425734785041544 .z-2{z-index:2}.gps-497425734785041544 .z-\[90\]{z-index:90}.gps-497425734785041544 .\!m-0{margin:0!important}.gps-497425734785041544 .mx-auto{margin-left:auto;margin-right:auto}.gps-497425734785041544 .my-0{margin-bottom:0;margin-top:0}.gps-497425734785041544 .mb-0{margin-bottom:0}.gps-497425734785041544 .mt-2{margin-top:8px}.gps-497425734785041544 .block{display:block}.gps-497425734785041544 .inline-block{display:inline-block}.gps-497425734785041544 .flex{display:flex}.gps-497425734785041544 .inline-flex{display:inline-flex}.gps-497425734785041544 .grid{display:grid}.gps-497425734785041544 .contents{display:contents}.gps-497425734785041544 .\!hidden{display:none!important}.gps-497425734785041544 .hidden{display:none}.gps-497425734785041544 .aspect-square{aspect-ratio:1/1}.gps-497425734785041544 .h-0{height:0}.gps-497425734785041544 .h-5{height:20px}.gps-497425734785041544 .h-6{height:24px}.gps-497425734785041544 .h-\[calc\(100\%\+2px\)\]{height:calc(100% + 2px)}.gps-497425734785041544 .h-fit{height:-moz-fit-content;height:fit-content}.gps-497425734785041544 .h-full{height:100%}.gps-497425734785041544 .w-5{width:20px}.gps-497425734785041544 .w-6{width:24px}.gps-497425734785041544 .w-\[12px\]{width:12px}.gps-497425734785041544 .w-full{width:100%}.gps-497425734785041544 .max-w-full{max-width:100%}.gps-497425734785041544 .flex-1{flex:1 1 0%}.gps-497425734785041544 .flex-none{flex:none}.gps-497425734785041544 .-translate-x-full{--tw-translate-x:-100%}.gps-497425734785041544 .-translate-x-full,.gps-497425734785041544 .-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-497425734785041544 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-497425734785041544 .translate-x-full{--tw-translate-x:100%}.gps-497425734785041544 .translate-x-full,.gps-497425734785041544 .translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-497425734785041544 .translate-y-1\/2{--tw-translate-y:50%}.gps-497425734785041544 .rotate-0{--tw-rotate:0deg}.gps-497425734785041544 .rotate-0,.gps-497425734785041544 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-497425734785041544 .rotate-180{--tw-rotate:180deg}@keyframes spin{to{transform:rotate(1turn)}}.gps-497425734785041544 .animate-spin{animation:spin 1s linear infinite}.gps-497425734785041544 .cursor-pointer{cursor:pointer}.gps-497425734785041544 .flex-row{flex-direction:row}.gps-497425734785041544 .flex-col{flex-direction:column}.gps-497425734785041544 .flex-wrap{flex-wrap:wrap}.gps-497425734785041544 .items-start{align-items:flex-start}.gps-497425734785041544 .items-end{align-items:flex-end}.gps-497425734785041544 .items-center{align-items:center}.gps-497425734785041544 .justify-center{justify-content:center}.gps-497425734785041544 .gap-2{gap:8px}.gps-497425734785041544 .gap-3{gap:12px}.gps-497425734785041544 .gap-y-0{row-gap:0}.gps-497425734785041544 .overflow-hidden{overflow:hidden}.gps-497425734785041544 .break-words{overflow-wrap:break-word}.gps-497425734785041544 .\!rounded-none{border-radius:0!important}.gps-497425734785041544 .rounded-full{border-radius:9999px}.gps-497425734785041544 .rounded-none{border-radius:0}.gps-497425734785041544 .bg-black\/50{background-color:rgba(0,0,0,.5)}.gps-497425734785041544 .p-\[1px\]{padding:1px}.gps-497425734785041544 .px-0{padding-left:0;padding-right:0}.gps-497425734785041544 .px-\[1px\]{padding-left:1px;padding-right:1px}.gps-497425734785041544 .py-0{padding-bottom:0;padding-top:0}.gps-497425734785041544 .\!pb-0{padding-bottom:0!important}.gps-497425734785041544 .pb-1{padding-bottom:4px}.gps-497425734785041544 .pr-1{padding-right:4px}.gps-497425734785041544 .text-center{text-align:center}.gps-497425734785041544 .leading-\[0\]{line-height:0}.gps-497425734785041544 .text-g-text-3{color:var(--g-c-text-3)}.gps-497425734785041544 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-497425734785041544 .line-through{text-decoration-line:line-through}.gps-497425734785041544 .no-underline{text-decoration-line:none}.gps-497425734785041544 .decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-497425734785041544 .opacity-0{opacity:0}.gps-497425734785041544 .opacity-25{opacity:.25}.gps-497425734785041544 .opacity-30{opacity:.3}.gps-497425734785041544 .opacity-75{opacity:.75}.gps-497425734785041544 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-497425734785041544 .outline{outline-style:solid}.gps-497425734785041544 .outline-1{outline-width:1px}.gps-497425734785041544 .-outline-offset-1{outline-offset:-1px}.gps-497425734785041544 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-497425734785041544 .transition-opacity{transition-duration:.15s;transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-497425734785041544 .duration-100{transition-duration:.1s}.gps-497425734785041544 .duration-200{transition-duration:.2s}.gps-497425734785041544 .duration-300{transition-duration:.3s}.gps-497425734785041544 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-497425734785041544 .disabled\:btn-disabled:disabled{cursor:default}.gps-497425734785041544 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-497425734785041544 .disabled\:cursor-default:disabled{cursor:default}.gps-497425734785041544 .disabled\:text-gray-300:disabled{--tw-text-opacity:1;color:rgb(209 213 219/var(--tw-text-opacity))}.gps-497425734785041544 .disabled\:opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-497425734785041544 .group:hover .group-hover\:opacity-100{opacity:1}}.gps-497425734785041544 .data-\[disabled\=true\]\:hidden[data-disabled=true]{display:none}.gps-497425734785041544 .data-\[hidden\=true\]\:\!hidden[data-hidden=true]{display:none!important}.gps-497425734785041544 .data-\[hidden\=true\]\:hidden[data-hidden=true],.gps-497425734785041544 .data-\[only-image\=true\]\:hidden[data-only-image=true]{display:none}.gps-497425734785041544 .data-\[outline\=active\]\:border[data-outline=active]{border-width:1px}.gps-497425734785041544 .data-\[outline\=active\]\:p-\[1px\][data-outline=active]{padding:1px}.gps-497425734785041544 .data-\[outline\=active\]\:outline[data-outline=active]{outline-style:solid}.gps-497425734785041544 .data-\[outline\=deactive\]\:\!outline-transparent[data-outline=deactive]{outline-color:transparent!important}.gps-497425734785041544 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-497425734785041544 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-497425734785041544 .scrollbar-thumb\:rounded-2xl::-webkit-scrollbar-thumb,.gps-497425734785041544 .scrollbar-track\:rounded-2xl::-webkit-scrollbar-track{border-radius:16px}.gps-497425734785041544 .scrollbar-thumb\:bg-gray-400::-webkit-scrollbar-thumb{--tw-bg-opacity:1;background-color:rgb(156 163 175/var(--tw-bg-opacity))}@media (max-width:1023px){.gps-497425734785041544 .tablet\:-left-4{left:-16px}.gps-497425734785041544 .tablet\:-right-4{right:-16px}.gps-497425734785041544 .tablet\:bottom-1\/2{bottom:50%}.gps-497425734785041544 .tablet\:left-4{left:16px}.gps-497425734785041544 .tablet\:right-4{right:16px}.gps-497425734785041544 .tablet\:top-1\/2{top:50%}.gps-497425734785041544 .tablet\:mt-2{margin-top:8px}.gps-497425734785041544 .tablet\:block{display:block}.gps-497425734785041544 .tablet\:\!inline{display:inline!important}.gps-497425734785041544 .tablet\:\!hidden{display:none!important}.gps-497425734785041544 .tablet\:hidden{display:none}.gps-497425734785041544 .tablet\:w-full{width:100%}.gps-497425734785041544 .tablet\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-497425734785041544 .tablet\:-translate-y-1\/2,.gps-497425734785041544 .tablet\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-497425734785041544 .tablet\:translate-x-0{--tw-translate-x:0px}.gps-497425734785041544 .tablet\:translate-y-1\/2{--tw-translate-y:50%}.gps-497425734785041544 .tablet\:rotate-0,.gps-497425734785041544 .tablet\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-497425734785041544 .tablet\:rotate-0{--tw-rotate:0deg}.gps-497425734785041544 .tablet\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-497425734785041544 .tablet\:flex-row{flex-direction:row}.gps-497425734785041544 .tablet\:px-0{padding-left:0;padding-right:0}.gps-497425734785041544 .tablet\:px-\[1px\]{padding-left:1px;padding-right:1px}.gps-497425734785041544 .tablet\:py-0{padding-bottom:0;padding-top:0}.gps-497425734785041544 .tablet\:pl-1{padding-left:4px}}@media (max-width:767px){.gps-497425734785041544 .mobile\:-left-4{left:-16px}.gps-497425734785041544 .mobile\:-right-4{right:-16px}.gps-497425734785041544 .mobile\:bottom-1\/2{bottom:50%}.gps-497425734785041544 .mobile\:left-4{left:16px}.gps-497425734785041544 .mobile\:right-4{right:16px}.gps-497425734785041544 .mobile\:top-1\/2{top:50%}.gps-497425734785041544 .mobile\:mt-2{margin-top:8px}.gps-497425734785041544 .mobile\:block{display:block}.gps-497425734785041544 .mobile\:\!inline{display:inline!important}.gps-497425734785041544 .mobile\:\!hidden{display:none!important}.gps-497425734785041544 .mobile\:hidden{display:none}.gps-497425734785041544 .mobile\:w-full{width:100%}.gps-497425734785041544 .mobile\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-497425734785041544 .mobile\:-translate-y-1\/2,.gps-497425734785041544 .mobile\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-497425734785041544 .mobile\:translate-x-0{--tw-translate-x:0px}.gps-497425734785041544 .mobile\:translate-y-1\/2{--tw-translate-y:50%}.gps-497425734785041544 .mobile\:rotate-0,.gps-497425734785041544 .mobile\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-497425734785041544 .mobile\:rotate-0{--tw-rotate:0deg}.gps-497425734785041544 .mobile\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-497425734785041544 .mobile\:flex-row{flex-direction:row}.gps-497425734785041544 .mobile\:px-0{padding-left:0;padding-right:0}.gps-497425734785041544 .mobile\:px-\[1px\]{padding-left:1px;padding-right:1px}.gps-497425734785041544 .mobile\:py-0{padding-bottom:0;padding-top:0}.gps-497425734785041544 .mobile\:pl-1{padding-left:4px}}.gps-497425734785041544 .\[\&\>svg\]\:\!h-6>svg{height:24px!important}.gps-497425734785041544 .\[\&\>svg\]\:\!h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-497425734785041544 .\[\&\>svg\]\:\!w-6>svg{width:24px!important}.gps-497425734785041544 .\[\&\>svg\]\:\!w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-497425734785041544 .tablet\:\[\&\>svg\]\:\!h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-497425734785041544 .mobile\:\[\&\>svg\]\:\!h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-497425734785041544 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-497425734785041544 .\[\&_p\]\:inline p{display:inline}.gps-497425734785041544 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-497425734785041544 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-497425734785041544 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gwQkgu9_9r"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:104px;--pl:15px;--pb:var(--g-s-2xl);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwQkgu9_9r mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gPdxnR18U2 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g2vZ5WhgPq"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:770px;--w-tablet:770px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2vZ5WhgPq mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVJupJLEC3 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="geQZDvBhzY "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-Orbitron, Orbitron);--weight:700;--ls:normal;--lh:130%;--size:40px;--size-tablet:40px;--size-mobile:35px;--c:#242424;word-break:break-word"
        >
        <p>Amplify Your Experience!</p>
        </h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g98EuTjbrI "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>The Sound Revolution Awaits! This offer is live only for Cyber Monday. Secure yours before the final note fades!</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    {% render 'gp-section-497425734785041544-1', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant  %}
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-497425734785041544 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/johnnychentest/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=497425727101076616&sectionId=497425734785041544)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
